<div class="container">
    <div class="col my-4">
        <h2>Track your product with your Id and Mail</h2>
        <form method="post" action="#" id="trackerform">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="orderid">Name</label>
                  <input type="text" class="form-control" id="orderid" name="orderid" placeholder="Id">
                </div>
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                  <button type="submit" class="btn btn-primary">Place Order</button>

              </div>
        </form>

    </div>
    <div class="col my-4">
        <h2>Your Order Status</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
                Enter Your Order Id and Email And click Track Order To Find Details About Your Order!
            </ul>
        </div>
        <h2>Your Order Details</h2>
        <div class="my-4">
            <ul class="list-group" id="citems">

            </ul>
        </div>
    </div>
</div>
